.image-hover-effect {
  transition: transform 0.3s;
}

.image-hover-effect:hover {
  transform: rotate(12deg);
}

.section-basic-styles1 {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 80vw;
  align-items: center;
  padding: 6rem 5rem;
  background-color: transparent;
  .titles {
    text-align: start;
  }
}

@media (max-width: 767px) {
  .section-basic-styles1 {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: fit-content;
    width: 60vw;
    align-items: center;
    padding: 2rem;
    .titles {
      text-align: center;
    }
  }
}

.section-basic-styles2 {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80vw;
  align-items: center;
  padding: 5rem 3rem;
  .section-grid {
    width: 80vw;
    background-color: transparent;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0;
  }
}

@media (max-width: 767px) {
  .section-basic-styles2 {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60vw;
    align-items: center;
    padding: 2rem;
    .section-grid {
      width: auto;
      background-color: transparent;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 5rem;
      padding: 0;
    }
  }
}
