/*DEFAULT STYLES*/

/*ResponsiveTemplate*/
.container {
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.responsivePage,
.responsivePage2 {
  border-bottom: solid 1px #2c2c2c;
}

.responsiveImage {
  padding: 5rem;
}

/*ResponsiveGridTemplate*/
.responsiveTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 5rem 0 3rem 0;
}
.responsiveGrid {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}

/*MEDIUM-AND-LARGE*/
@media (min-width: 1050px) and (max-width: 1536px) {
  /*ResponsiveTemplate*/
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .responsivePage {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
  }
  .responsiveDiv {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
  }
  .responsiveImage {
    padding: 6.5rem;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
  }
  /*ResponsiveGridTemplate*/
  .responsivePage2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

/*EXTRA-LARGE*/
@media (min-width: 1537px) {
  /*ResponsiveTemplate*/
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0rem 5rem;
  }
  .responsivePage {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 85vh;
  }
  .responsiveDiv {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
  }
  .responsiveImage {
    padding: 10rem;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
  }
  /*ResponsiveGridTemplate*/
  .responsivePage2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
