.linkFormat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.imageHoverEffect {
  transition: transform 0.3s;
}

.imageHoverEffect:hover {
  transform: rotate(12deg);
}
